.back {
  cursor: pointer;
  text-decoration: none;
  height: 26px;
  display: block;
  text-align: center;
  width: 100px;
  border: 1px solid;
  border-radius: 4px;
  background-color: rgb(148, 154, 160);
  color: white;
}

.description {
  display: flex;
  justify-content: space-between;
}

.img {
  margin-right: 50px;
}
